<li class="comment" id="comment">
  <div>
    <div>
      <span><%= comment.user.name%></span>
      <p class="comment-content"><%= comment.content%></p>
    </div>
    <a class="delete-comment" href="/comment/destroy/<%= comment._id%>"
      ><i class="fas fa-ellipsis-h"></i
    ></a>
  </div>
  <p class="display-5">
    <span>Like</span><span>Comment</span><span>Date</span>
  </p>
</li>
