<link rel="stylesheet" href="/css/home.css" type="text/css" />

<% if (!locals.user){%>

<h1>Codeial Home page</h1>

<%}else{%>
<div id="home-container">
  <!-- <div class="leftside-container">Content</div> -->

  <div class="home-feedwall" id="home-feedwall">
    <section id="feed-posts" class="feed-posts">
      <h3>Post your thoughts</h3>
      <form action="/posts/create" id="new-post-form" method="POST">
        <textarea
          name="content"
          id=""
          cols="30"
          rows="3"
          placeholder="Write here..."
          required
        ></textarea>
        <button type="submit">POST</button>
      </form>
    </section>

    <section class="user-posts" id="user-posts">
      <ul class="posts-list" id="posts-list-container">
        <%for (post of posts){%> <%- include('_post')%> <%}%>
      </ul>
    </section>
  </div>
  <%}%> <% if (locals.user){%>
  <div class="friends-container">
    <h4>Friends List</h4>
    <% for (user of users){%>
    <p><a href="/user/profile/<%=user._id%>"><%=user.name%></a></p>
    <%}%>
  </div>
  <%}%>
</div>

<script src="js/home_post.js"></script>
