<link rel="stylesheet" href="/css/home.css" type="text/css" />

<% if (!locals.user){%>

<h1>Codeial Home page</h1>

<%}else{%>
<div id="home-container">
  <!-- <div class="leftside-container">Content</div> -->

  <div class="home-feedwall" id="home-feedwall">
    <section id="feed-posts" class="feed-posts">
      <h3>Post your thoughts</h3>
      <form action="/posts/create" id="new-post-method" method="POST">
        <textarea
          name="content"
          id=""
          cols="30"
          rows="3"
          placeholder="Write here..."
          required
        ></textarea>
        <button type="submit">POST</button>
      </form>
    </section>

    <section class="user-posts" id="user-posts">
      <ul class="posts-list">
        <%for (post of posts){%> <%- include('_post')%> <%}%>
      </ul>
    </section>
  </div>
  <%}%> <% if (locals.user){%>
  <div class="friends-container">
    <% for (user of users){%>
    <p><%=user.name%></p>
    <%}%>
  </div>
  <%}%>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/home.js" type="text/javascript"></script>
