<body>
  <div class="form-container">
    <h1>Account Login</h1>
    <form action="/user/login" method="POST">
      <label for="username"> Username </label>
      <input id="username" name="email" type="text" required />
      <label for="password"> Password</label>
      <input id="password" name="password" type="password" required />
      <button type="submit">Login</button>
    </form>
  </div>
</body>
