<link rel="stylesheet" href="/css/signup.css" type="text/css" />
<div class="form-container">
  <h1>Create an account</h1>
  <form action="/user/signup" method="POST">
    <input id="username" name="name" type="text" placeholder="Name" required />
    <input
      id="emailid"
      name="email"
      type="email"
      placeholder="Email"
      required
    />
    <input
      id="password"
      name="password"
      type="password"
      placeholder="Password"
      required
    />

    <input
      id="confirm-password"
      name="confirm_password"
      placeholder="Confirm Password"
      type="password"
      required
    />

    <button type="submit">SignUp</button>
  </form>
</div>
