<link rel="stylesheet" type="text/css" href="/css/user_profile.css" />

<div id="logout-btn-container">
  <a href="\user\logout"><button class="btn logout-btn">Logout</button></a>
</div>

<h1>This is user's page of Codial</h1>

<p>Name: <%= user.name%></p>
<p>Email: <%= user.email%></p>
