button {
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #e6cfcf;
}
button:hover {
  box-shadow: 0px 0px 3px darkgray;
}

:root {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}
@media only screen and (max-width: 766.98px) {
  :root {
    font-size: 14px;
  }
}
@media only screen and (max-width: 440px) {
  :root {
    font-size: 12px;
  }
}

h1,
h4,
p {
  margin: 0;
  padding: 0;
}

.display-3 {
  font-weight: bold;
  font-size: medium;
  color: white;
}

.display-5 {
  font-size: 0.6rem;
  color: white;
}

input,
textarea {
  outline: none;
  border: none;
  border-radius: 0.4rem;
}

input {
  font-size: 1.2rem;
  box-shadow: 0px 0px 2px 2px grey;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.6rem 0.5rem;
}
@media only screen and (max-width: 766.98px) {
  input {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 440px) {
  input {
    font-size: 1.5rem;
  }
}

input:focus {
  border: 1px solid #6f19b1;
}

textarea {
  padding: 0.3rem 0.4rem;
  color: black;
  resize: none;
  font-family: sans-serif;
}

@media only screen and (max-width: 440px) {
  body {
    padding: 10rem 0;
  }
  body header {
    justify-content: center;
  }
  body header h1 {
    width: 100%;
    text-align: center;
    padding: 0.2rem 0;
    border-bottom: 2px solid rgba(14, 14, 15, 0.973);
  }
  body header ul {
    margin-left: 0;
    margin-top: 0.4rem;
  }
}

#home-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 0.5rem;
}

.home-feedwall {
  width: 25rem;
  margin: 0 auto;
}
@media only screen and (max-width: 766.98px) {
  .home-feedwall {
    width: 25rem;
  }
}
@media only screen and (max-width: 440px) {
  .home-feedwall {
    width: 90%;
  }
}

.feed-posts {
  background-color: rgba(24, 25, 26, 0.98);
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(24, 25, 26, 0.5);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.8rem;
}
.feed-posts form {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0rem 0.5rem;
}
.feed-posts form textarea {
  scrollbar-width: thin;
  scrollbar-color: #1f1f1f rgba(0, 0, 0, 0.3);
  margin-right: 0.5rem;
}
.feed-posts form textarea::-webkit-scrollbar {
  width: 0.4rem;
}
.feed-posts form textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
.feed-posts form textarea::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  border-radius: 0.2rem;
}
.feed-posts form textarea::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.feed-posts form textarea:focus {
  box-shadow: 0 0 5px black inset;
}
@media only screen and (max-width: 440px) {
  .feed-posts form textarea {
    width: 100%;
    margin: 0.5rem;
  }
}
.feed-posts form button {
  align-self: flex-end;
  color: #ffefef;
  background-color: #a09ca140;
  font-size: small;
}

.user-posts .post-header {
  display: flex;
  justify-content: space-between;
}
.user-posts .post-header a {
  color: white;
}
.user-posts ul {
  list-style-type: none;
  margin-top: 1.5rem;
  padding: 0;
}
.user-posts ul li {
  background-color: rgba(24, 25, 26, 0.98);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(24, 25, 26, 0.5);
  color: white;
  margin-bottom: 1.5rem;
}
.user-posts ul li .post-content {
  margin: 1rem 0;
}
.user-posts form div {
  background-color: rgba(43, 42, 43, 0.8);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.user-posts form div textarea {
  scrollbar-width: thin;
  scrollbar-color: #1f1f1f rgba(0, 0, 0, 0.3);
  background-color: inherit;
  color: white;
  padding: 0.5rem;
  flex: 1;
}
.user-posts form div textarea::-webkit-scrollbar {
  width: 0.4rem;
}
.user-posts form div textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
.user-posts form div textarea::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  border-radius: 0.2rem;
}
.user-posts form div textarea::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.user-posts form div button {
  background-color: inherit;
  flex: 0 0 20px;
  box-shadow: none;
}
.user-posts form div button i:hover {
  color: #7c2db9;
}
.user-posts .comments-container {
  background-color: inherit;
}
.user-posts .comments-container ul li {
  max-width: 85%;
  margin-bottom: 0.2rem;
  padding: 0.2rem;
}
.user-posts .comments-container ul li div {
  display: flex;
}
.user-posts .comments-container ul li div div {
  display: inline-block;
  background-color: rgba(43, 42, 43, 0.8);
  font-style: "Poppins";
  font-size: 0.7rem;
  border-radius: 0.8rem;
  position: relative;
  padding: 0.4rem 0.8rem;
  color: white;
}
.user-posts .comments-container ul li div div span {
  font-weight: 500;
}
.user-posts .comments-container ul li .delete-comment {
  color: rgba(43, 42, 43, 0.8);
  align-self: center;
  margin-left: 0.2rem;
}
.user-posts .comments-container ul li .delete-comment:hover {
  color: #7c2db9;
}
.user-posts .comments-container ul li p span {
  margin-left: 0.5rem;
}
.user-posts .comments-container ul li p span:before {
  content: "";
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border: none;
  border-radius: 50%;
  background-color: rgba(248, 139, 139, 0.9);
  margin-right: 0.3rem;
}

.friends-container {
  background-color: #171717;
  color: white;
  margin-right: 1rem;
  max-height: 80%;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  position: fixed;
  bottom: 0%;
  right: 0%;
}
.friends-container h4 {
  margin: 0;
  padding: 0.5rem 1rem;
}
.friends-container .users-list {
  height: 15rem;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: #1f1f1f rgba(0, 0, 0, 0.3);
}
.friends-container .users-list::-webkit-scrollbar {
  width: 0.4rem;
}
.friends-container .users-list::-webkit-scrollbar-track {
  background-color: transparent;
}
.friends-container .users-list::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  border-radius: 0.2rem;
}
.friends-container .users-list::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.friends-container .users-list a {
  color: white;
  text-decoration: none;
}
.friends-container .users-list a p {
  font-size: smaller;
  padding: 0.1rem 1rem;
}
.friends-container .users-list a p:hover {
  background-color: rgba(63, 61, 61, 0.842);
}

.timestamp::before {
  content: "";
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border: none;
  border-radius: 50%;
  background-color: rgba(248, 139, 139, 0.9);
  margin-right: 0.3rem;
}

/*# sourceMappingURL=home.css.map */
