:root {
  --primary-color: #9926f0;
  --secondary-color: #d63384;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: white;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.form-container > span {
  display: block;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-top: 10px;
}

.form-container > form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px;
  font-size: large;
  flex-grow: 1;
}

.form-container > form > * {
  margin-bottom: 5px;
}

input {
  outline: none;
  line-height: 1.5;
  font-size: 1.2rem;
  box-shadow: 0px 0px 2px 2px grey;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

input:focus {
  border: 1px solid #6f19b1;
}

.form-container button {
  align-self: center;
  display: inline;
  font-size: 1.2rem;
  border-radius: 1.3rem;
  width: 75%;
  padding: 0.2rem;
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  margin-top: 20px;
}

.form-container button:hover {
  background-color: #6f19b1;
}

.form-container button:active {
  box-shadow: 0px 0px 2.5px 2.5px rgba(112, 25, 179, 0.4);
}
